<ion-header>
  <ion-navbar color="bluelight">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button icon-only ion-button (click)="openSearchPage()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label text-right>Sort</ion-label>
            <ion-select [(ngModel)]="sort" (ionChange)="changeSort()" interface="action-sheet">
              <ion-option value="0">Terbaru</ion-option>
              <ion-option value="1">Terlama</ion-option>
              <ion-option value="2">A - Z</ion-option>
              <ion-option value="3">Z - A</ion-option>
            </ion-select>
        </ion-item>
      </ion-list>
      <ion-list>
          <ion-item>
              <ion-label text-right>Kategori</ion-label>
              <ion-select>
                <ion-option *ngFor="let cat of api.Categories" (ionChenge)="changeCategory()">
                  {{cat.name}}
                </ion-option>
              </ion-select>
          </ion-item>
        </ion-list>

  <ion-refresher (ionRefresh)="getRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Tarik Untuk merefresh" refreshingSpinner="circles" refreshingText="Sedang Memuat ulang...">
      
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-card *ngFor="let item of items" (click)="openDetail(item)">
      <!-- <img src="{{item._embedded['wp:featuredmedia'][0].media_details.sizes.thumbnail.source_url}}"/>  -->
      <!-- featured image di wordpress gak boleh kosong -->
      <ion-card-content>
        <ion-row>
            <ion-col col-9>
              <h2>{{api.getCatName(item.categories[0])}}</h2>
            </ion-col>                
          </ion-row>                          
        <ion-row>
          <ion-col col-9>
            <h1><b>{{item.title.rendered}}</b></h1>
          </ion-col>
          <ion-col col-3>
            <img src="{{item._embedded['wp:featuredmedia'][0].media_details.sizes.thumbnail.source_url}}"/> 
          </ion-col>
        </ion-row>
        <ion-row>          
          <ion-col>
            {{item._embedded.author[0].name}}
          </ion-col>
        </ion-row>
        <ion-row>          
          <ion-col>
            {{item.date | date: "dd.MM.yyyy / hh;mm"}}
          </ion-col>
        </ion-row>
      </ion-card-content>
  </ion-card>
  <div *ngIf="isLoading" text-center padding>
    <ion-spinner></ion-spinner>
  </div>

  <button *ngIf="showLoadMore" ion-button full color="bluesea" (click)="getPosts()">Load More</button>
</ion-content>
