<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="bluelight">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content color="bluesea">
    <ion-list color="bluesea">
      <ion-item color="">
        <ion-row menuClose (click)="openPageArticle(0)">
          <ion-col col-9 class="menu-name">
            <span>
            Artikel
            <ion-icon name="book" float-right></ion-icon>
            </span>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>