<ion-header>
  <ion-navbar color="bluelight">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{post.title.rendered}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <img src="{{post._embedded['wp:featuredmedia'][0].media_details.sizes.full.source_url}}" alt=""/> 
    <div padding>
      <h1>{{post.title.rendered}}</h1>
      <ion-row>
          <ion-badge name="second">
            {{api.getCatName(post.categories[0])}}
          </ion-badge>
          <ion-badge color="light">
            <ion-icon name="time"></ion-icon>
            {{post.date | date: "dd.MM.yyyy / hh;mm"}}</ion-badge>

          <ion-badge color="light">
              <ion-icon name="person"></ion-icon>
              {{post._embedded.author[0].name}}</ion-badge>
        </ion-row>

        <div innerHTML="{{post.content.rendered}}"></div>
    </div>

    <h2 padding-left>Related Posts</h2>
    <div *ngIf="isLoading" text-center padding>
        <ion-spinner></ion-spinner>
    </div>

    <div padding>
      <ion-card *ngFor="let item of relatedItems" (click)="openDetail(item)">
        <img src="{{item._embedded['wp:featuredmedia'][0].media_details.sizes.thumbnail.source_url}}"/> 
            <!-- featured image di wordpress gak boleh kosong -->   
          <ion-card-content>
            <ion-card-title>
              {{item.title.rendered}}
            </ion-card-title>
    
            <ion-row>
              <ion-badge name="second">
                {{api.getCatName(item.categories[0])}}
              </ion-badge>
              <ion-badge color="light">
                <ion-icon name="time"></ion-icon>{{item.date | date: "dd.MM.yyyy / hh;mm"}}
              </ion-badge>
            </ion-row>
          </ion-card-content>
      </ion-card>
    </div>
</ion-content>
